.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-btn{
    padding: 20px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.companies-list-cont{
    display: flex;
    margin-top: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    flex-direction: column;
    padding: 10px;
}
.companies-list-cont button{
    background-color: black;
    padding: 10px 20px;
    margin-left: 40px;
}
.your-comp-cont{
    border: 1px solid black;
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.your-comp-cont span{
    margin: 7px 0;
}
.your-comp-cont  button{
    background-color: black;
    padding: 10px 20px;
    margin-left: 50px;
}
.your-comp-cont  button a{
    color: white;
    text-decoration: none;
}